name: Synchronize upstream

on:
  workflow_dispatch:
    inputs:
      project:
        type: string
        description: upstream project name
        options:
          - dae
          - daed
        required: true
      # the `branch` represented package name suffix.
      # e.g. dae-unstable, dae-release, ...
      branch:
        type: string
        description: branch to sync with
        default: unstable

jobs:
  sync-upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub auth token
        # https://github.com/tibdex/github-app-token
        id: generate_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - uses: actions/checkout@main
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Update package
        run: |
          nix develop -c ./main.nu sync ${{ inputs.project }} ${{ inputs.branch }}
        
      - name: Commit changes
        uses: EndBug/add-and-commit@main
        with:
          add: "metadata.json"
          commit: --signoff
          message: "chore(${{ inputs.project }}): sync to refs/head/main"
          push: false

      - name: Push to sync-target
        run: |
          git checkout -b sync-target
          git push -u origin sync-target

      - name: Create Pull Request
        uses: actions/github-script@main
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          script: |
            const { data: pull_request } = await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: `chore(${project}): sync to refs/head/main`,
              body: `This PR merges the \`${project}-${branch}\` latest update from upstream.`,
              head: 'sync-target',
              base: 'main',
            });
            console.log(`Created pull request ${pull_request.number}`);
        env:
          PROJECT: ${{ inputs.project }}
          BRANCH: ${{ inputs.branch }}

      - name: Build
        run: |
          #!/usr/bin/env bash
          set -exuo pipefail
          nix build .#${{ inputs.project }}-${{ inputs.branch }}
